@import "tailwindcss";

:root {
  --background: oklch(18.22% 0 0);
  --foreground: oklch(33.29% 0 0);

  --text-primary: oklch(98.51% 0 0);
  --text-secondary: oklch(74.12% 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
}

@layer base {
  body {
    @apply bg-background text-primary;
  }
  section {
    @apply scroll-mt-20;
  }
}

::-webkit-scrollbar {
  @apply size-1;
}

::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-foreground transition-colors;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  @apply bg-foreground/50;
}
